<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <!-- <div class="col-md-12"> -->
                <div class="filter-bar">
                    <form [formGroup]="filtersForm">
                        <div class="row">
                            <div class="col-md-6">
                                <angular2-multiselect [data]="departmentsList" [(ngModel)]="selectedDepartments" 
                                [ngModelOptions]="{standalone: true}"
            [settings]="departmentDropdownSettings" 
            (onSelect)="onItemSelect($event)" 
            (onDeSelect)="onItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)">
        </angular2-multiselect>
                            </div>
                            <div class="col-md-6" *ngIf="level===0">
                                <angular2-multiselect [data]="qualityEventsList" [(ngModel)]="selectedQualityEvents" 
                                [ngModelOptions]="{standalone: true}"
            [settings]="eventsDropdownSettings" 
            (onSelect)="onEventSelect($event)" 
            (onDeSelect)="onEventDeSelect($event)"
            (onSelectAll)="onSelectAllEvents($event)"
            (onDeSelectAll)="onDeSelectAllEvents($event)">
        </angular2-multiselect>
                            </div>
                            </div>
                            <div class="row mt-2" *ngIf="level!==0">
                                <div class="col-md-6">
                                    <angular2-multiselect [data]="changeCategoriesList" [(ngModel)]="selectedChangeCategory" 
                                    [ngModelOptions]="{standalone: true}"
                [settings]="changeCategoryDropdownSettings" 
                (onSelect)="onChangeCategorySelect($event)" 
                (onDeSelect)="onChangeCategoryDeSelect($event)"
                (onSelectAll)="onSelectAllChangeCategories($event)"
                (onDeSelectAll)="onDeSelectAllChangeCategories($event)">
            </angular2-multiselect>
                                </div>
                                <div class="col-md-6">
                                    <angular2-multiselect [data]="changeClassificationList" [(ngModel)]="selectedChangeClassification" 
                                    [ngModelOptions]="{standalone: true}"
                [settings]="changeClassificationDropdownSettings" 
                (onSelect)="onChangeClassificationSelect($event)" 
                (onDeSelect)="onChangeClassificationDeSelect($event)"
                (onSelectAll)="onSelectAllChangeClassifications($event)"
                (onDeSelectAll)="onDeSelectAllChangeClassifications($event)">
            </angular2-multiselect>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <ng2-flatpickr [config]="exampleOptions" placeholder="From date" formControlName="fromDate"></ng2-flatpickr>
                                </div>
                                <div class="col-md-6">
                                    <ng2-flatpickr [config]="exampleOptions" formControlName="toDate" placeholder="To date"></ng2-flatpickr>
                                </div>
                            </div>
                            
                        
                    </form>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        
                        <dx-chart
                            id="chart"
                            title="Quality Events"
                            [class]="level===0?'':'hideChart'"
                            [dataSource]="dataSource"
                            (onPointClick)="onPointClick($event)">
                            <dxi-series valueField="ccn" name="CCN" ></dxi-series>
                            <dxi-series valueField="incident" name="Incident"></dxi-series>
                            <dxi-series valueField="errata" name="Errata"></dxi-series>
                            <dxi-series valueField="noteToFile" name="Note to File"></dxi-series>
                            <dxi-value-axis position="left">
                                <dxo-title text="Total Count of QE"></dxo-title>
                            </dxi-value-axis>
                            <dxo-common-series-settings
                                argumentField="department"
                                type="stackedBar"
                                barWidth="50">
                            </dxo-common-series-settings>
                            <dxo-legend
                                verticalAlignment="bottom"
                                horizontalAlignment="center"
                                itemTextPosition="top">
                            </dxo-legend>
                            <dxo-export [enabled]="false"></dxo-export>
                            <dxo-tooltip
                                [enabled]="true"
                                location="edge"
                                [customizeTooltip]="customizeTooltip">
                            </dxo-tooltip>
                        </dx-chart>
                        
                        <dx-pie-chart
                            [class]="level===1?'':'hideChart'"
                            id="pie"
                            title="Change Control Note"
                            palette="bright"
                            (onPointClick)="onPointClick($event)"
                            [dataSource]="CCNData">
                            <dxo-legend
                                orientation="horizontal"
                                itemTextPosition="right"
                                horizontalAlignment="center"
                                verticalAlignment="bottom"
                                [columnCount]="4"></dxo-legend>
                            <dxo-export [enabled]="false"></dxo-export>
                            <dxi-series
                                argumentField="CCNstatus"
                                valueField="CCNstatusValue">
                                <dxo-label
                                    [visible]="true"
                                    position="columns"
                                    [customizeText]="customizeLabel">
                                    <dxo-font [size]="16"></dxo-font>
                                    <dxo-connector
                                        [visible]="true"
                                        [width]="0.5"></dxo-connector>
                                </dxo-label>
                            </dxi-series>
                        </dx-pie-chart>

                        <dx-chart 
                        [class]="level===2?'':'hideChart'"
                        id="overdueChart"
                        [dataSource]="overdueData"
                        palette="soft"
                        [valueAxis]="[{
                            name: 'frequency',
                            position: 'left',
                            tickInterval: 3
                        }, {
                            name: 'percentage',
                            position: 'right',
                            showZero: true,
                            label: {
                                customizeText: customizeLabelText
                            },
                            constantLines: [{
                                value: 80,
                                color: '#fc3535',
                                dashStyle: 'dash',
                                width: 2,
                                label: { visible: false }
                            }],
                            tickInterval: 20,
                            valueMarginsEnabled: false
                        }]">
                        
    <dxi-series type="bar" valueField="count"
    axis="frequency"
    name="Total Overdues"
    color="#fac29a"></dxi-series>
    <dxi-series 
        type="spline"
        valueField="cumulativePercent"
        axis="percentage"
        name="Cumulative percentage"
        color="#6b71c3">
    </dxi-series>
    <!-- <dxi-series valueField="oneWeekToOneMonth" name="1Week - 1month"></dxi-series>
    <dxi-series valueField="oneMonthsToThreeMonths" name="1-3 months"></dxi-series>
    <dxi-series valueField="threeToSixMonths" name="3-6months"></dxi-series>
    <dxi-series valueField="moreThanSixMonths" name="> 6months"></dxi-series> -->
    <dxo-argument-axis>
        <dxo-label overlappingBehavior="stagger"></dxo-label>
    </dxo-argument-axis>
    <dxo-tooltip 
        [enabled]="true"
        [shared]="true"
        [customizeTooltip]="customizeTooltipForOverdue">
    </dxo-tooltip>
    <dxo-common-series-settings
        argumentField="timeFrame"
        type="bar"
        [barPadding]="0">
    </dxo-common-series-settings>
    <dxo-legend
        verticalAlignment="bottom"
        horizontalAlignment="center">
    </dxo-legend>
    <dxo-export [enabled]="false"></dxo-export>
    <dxo-title text="Overdue Status">
        <!-- <dxo-subtitle text="Count"></dxo-subtitle> -->
    </dxo-title>
</dx-chart>
                    </div>
                        </div>
                </div>
            <!-- </div> -->
        </div>
        
    </div>
    
