/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

ng2-flatpickr{
    .ng2-flatpickr-input-container{
        .flatpickr-input{
            width:100% !important;
        }
    }
}